Node Red/flows.json
[
    {
        "id": "c2d3adb4a235ba22",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "310dc9dbb243ae8e",
        "type": "ui-file-input",
        "z": "c2d3adb4a235ba22",
        "group": "244b594a533b3d05",
        "name": "Input file",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "fec0b7230eb37161"
            ]
        ]
    },
    {
        "id": "6af3036e304f4ba7",
        "type": "mqtt out",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "topic": "farms/farm_1/mission",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "9c6bfdf2bd2b6456",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "6af3036e304f4ba7",
                "14361f21bf4740e5",
                "950c14ff0af0b8aa"
            ],
            []
        ]
    },
    {
        "id": "3015c12a47337e8b",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "14361f21bf4740e5",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug before mqtt",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "743b4e763e19bf2e",
        "type": "mqtt in",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "topic": "farms/farm_1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 680,
        "wires": [
            [
                "41b1c81ec9631280",
                "4648017712766a04",
                "ba639266a1a525bb",
                "e4eda4421fca1030",
                "c98ac90277e3f115",
                "bd331189a5787790",
                "261915dc46090da9",
                "6e71d99cc40651e2"
            ]
        ]
    },
    {
        "id": "fec0b7230eb37161",
        "type": "json",
        "z": "c2d3adb4a235ba22",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "9c6bfdf2bd2b6456",
                "3015c12a47337e8b"
            ]
        ]
    },
    {
        "id": "41b1c81ec9631280",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug parsed payload",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 960,
        "wires": []
    },
    {
        "id": "1138e4fa2df76a1e",
        "type": "aedes broker",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "0a4307051b72c94a"
            ],
            [
                "aaba9634802da9cb"
            ]
        ]
    },
    {
        "id": "0a4307051b72c94a",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "aaba9634802da9cb",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "18884525bab576a0",
        "type": "mqtt out",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "topic": "farms/farm_1/drone_2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "0dded460e30cb873",
        "type": "ui-file-input",
        "z": "c2d3adb4a235ba22",
        "group": "e1c65d3e46af733a",
        "name": "Input file",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "e00923ddc6bd7a1e"
            ]
        ]
    },
    {
        "id": "f7b643b9dda062a6",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "18884525bab576a0",
                "289da9c38eac353b",
                "f06d89c552534fed"
            ],
            []
        ]
    },
    {
        "id": "d7204f7659130385",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "e00923ddc6bd7a1e",
        "type": "json",
        "z": "c2d3adb4a235ba22",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "f7b643b9dda062a6",
                "d7204f7659130385"
            ]
        ]
    },
    {
        "id": "289da9c38eac353b",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug before mqtt",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "c24cf27606bb9204",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 680,
        "wires": []
    },
    {
        "id": "4648017712766a04",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 1",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "c24cf27606bb9204"
            ]
        ]
    },
    {
        "id": "a05735ef71efdea8",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "ba639266a1a525bb",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 2",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "a05735ef71efdea8"
            ]
        ]
    },
    {
        "id": "15390aa36be5e2ca",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 760,
        "wires": []
    },
    {
        "id": "e4eda4421fca1030",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 3",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 760,
        "wires": [
            [
                "15390aa36be5e2ca"
            ]
        ]
    },
    {
        "id": "f1065ddfca2ba29d",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "c98ac90277e3f115",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 4",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "f1065ddfca2ba29d"
            ]
        ]
    },
    {
        "id": "e0014a689b0f293b",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 880,
        "wires": []
    },
    {
        "id": "b485c4de78ed3540",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "cd9ebc5ca7d26504",
        "type": "mqtt in",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "topic": "farms/farm_1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "d880eb0c87f2dc18",
                "2e7007ae57998895",
                "4ab20d74150668a5",
                "c8a3e519f02cc6bd",
                "c25992e7d4270556",
                "3a3d6b09c35f9634",
                "8c075cd47134eaed",
                "6d97a91976d7adcf"
            ]
        ]
    },
    {
        "id": "d880eb0c87f2dc18",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5cc8dee1e2477379",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "46021625c6fcaf5e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2e7007ae57998895",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 5",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "5cc8dee1e2477379"
            ]
        ]
    },
    {
        "id": "2c4e451ffd46f1f6",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "46021625c6fcaf5e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4ab20d74150668a5",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 6",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "2c4e451ffd46f1f6"
            ]
        ]
    },
    {
        "id": "4af6fe7dbe668b77",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "46021625c6fcaf5e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c8a3e519f02cc6bd",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 7",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "4af6fe7dbe668b77"
            ]
        ]
    },
    {
        "id": "0189b13169e4596e",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "46021625c6fcaf5e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "takeoffSuccess",
        "valueType": "msg",
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c25992e7d4270556",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 8",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "0189b13169e4596e"
            ]
        ]
    },
    {
        "id": "12669be1efb9bb37",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "46021625c6fcaf5e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "coords",
        "valueType": "msg",
        "x": 680,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b4055439e947e876",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "46021625c6fcaf5e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "returnhome",
        "valueType": "msg",
        "x": 670,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4b5d9e12cb270319",
        "type": "mqtt in",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "topic": "farms/farm_2/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "5d1430ce1a286215",
                "256e4596bf2cd01d",
                "b549be5f1d41135e",
                "5b6480aeb5476a5f",
                "c0c9cf266c48b666",
                "f1bfb55e58f68676",
                "7607414478948996",
                "75f32e0170266502"
            ]
        ]
    },
    {
        "id": "5d1430ce1a286215",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e77d6a6a1d2d2f6b",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "131f4b9e0911434d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1380,
        "wires": []
    },
    {
        "id": "256e4596bf2cd01d",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 9",
        "func": "if (msg.topic == 'farms/farm_2/drone_1/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1380,
        "wires": [
            [
                "e77d6a6a1d2d2f6b"
            ]
        ]
    },
    {
        "id": "7324e6dddc0ccd44",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "131f4b9e0911434d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b549be5f1d41135e",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 10",
        "func": "if (msg.topic == 'farms/farm_2/drone_1/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "7324e6dddc0ccd44"
            ]
        ]
    },
    {
        "id": "fcd83e2978ee1fdd",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "131f4b9e0911434d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1460,
        "wires": []
    },
    {
        "id": "5b6480aeb5476a5f",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 11",
        "func": "if (msg.topic == 'farms/farm_2/drone_1/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "fcd83e2978ee1fdd"
            ]
        ]
    },
    {
        "id": "6963907641e3d7f8",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "131f4b9e0911434d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "takeoffSuccess",
        "valueType": "msg",
        "x": 680,
        "y": 1500,
        "wires": []
    },
    {
        "id": "c0c9cf266c48b666",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 12",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "6963907641e3d7f8"
            ]
        ]
    },
    {
        "id": "7ef2a0d9c9918770",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "131f4b9e0911434d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "coords",
        "valueType": "msg",
        "x": 680,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1270bd749152a606",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "131f4b9e0911434d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "returnhome",
        "valueType": "msg",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "84f92c5197ce4a70",
        "type": "mqtt out",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "topic": "farms/farm_2/drone_1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "a26bbf41948b2bc3",
        "type": "ui-file-input",
        "z": "c2d3adb4a235ba22",
        "group": "f034f56730383b1b",
        "name": "Input file",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "54923fb669a886b9"
            ]
        ]
    },
    {
        "id": "90a292e813f7e6e5",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "84f92c5197ce4a70",
                "a0593e8e8e7e1313",
                "a0f46e68e05714ba"
            ],
            []
        ]
    },
    {
        "id": "33dbcd5ab08fe9b3",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "54923fb669a886b9",
        "type": "json",
        "z": "c2d3adb4a235ba22",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "90a292e813f7e6e5",
                "33dbcd5ab08fe9b3"
            ]
        ]
    },
    {
        "id": "a0593e8e8e7e1313",
        "type": "debug",
        "z": "c2d3adb4a235ba22",
        "name": "Debug before mqtt",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "c4ae35d8876f2f5b",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "244b594a533b3d05",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Mission",
        "label": "Mission:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "950c14ff0af0b8aa",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 13",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('\\n\\n');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "c4ae35d8876f2f5b"
            ]
        ]
    },
    {
        "id": "8ebf9a874ad7d084",
        "type": "ui-button",
        "z": "c2d3adb4a235ba22",
        "group": "d00d6627fbd36b27",
        "name": "Reset info",
        "label": "Reset Info",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "c24cf27606bb9204",
                "a05735ef71efdea8",
                "15390aa36be5e2ca",
                "f1065ddfca2ba29d",
                "e0014a689b0f293b",
                "b485c4de78ed3540",
                "c4ae35d8876f2f5b",
                "6ebe82b420164dda"
            ]
        ]
    },
    {
        "id": "453195c150d7d3e6",
        "type": "ui-button",
        "z": "c2d3adb4a235ba22",
        "group": "68ba4e0f2d65772c",
        "name": "Reset info",
        "label": "Reset Info",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 880,
        "y": 1160,
        "wires": [
            [
                "5cc8dee1e2477379",
                "2c4e451ffd46f1f6",
                "4af6fe7dbe668b77",
                "0189b13169e4596e",
                "12669be1efb9bb37",
                "b4055439e947e876",
                "575b59fd30f54784",
                "2917cf0555912f1f"
            ]
        ]
    },
    {
        "id": "ef120c3145a6e184",
        "type": "ui-button",
        "z": "c2d3adb4a235ba22",
        "group": "d633db249650f11d",
        "name": "Reset info",
        "label": "Reset info",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 860,
        "y": 1480,
        "wires": [
            [
                "e77d6a6a1d2d2f6b",
                "7324e6dddc0ccd44",
                "fcd83e2978ee1fdd",
                "6963907641e3d7f8",
                "7ef2a0d9c9918770",
                "1270bd749152a606",
                "dddf538f519bb573",
                "6ab811dcfe996b0a"
            ]
        ]
    },
    {
        "id": "bd331189a5787790",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 14",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "b485c4de78ed3540"
            ]
        ]
    },
    {
        "id": "261915dc46090da9",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 16",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 920,
        "wires": [
            [
                "6ebe82b420164dda"
            ]
        ]
    },
    {
        "id": "3a3d6b09c35f9634",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 17",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "b4055439e947e876"
            ]
        ]
    },
    {
        "id": "8c075cd47134eaed",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 18",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `latitude: ${lat}\\nlongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        var mapMsg = {\n            ...msg,\n            topic: \"waypoint\",\n            payload: {\n                name: `Drone 2 - Waypoint ${lat}, ${lon}`,\n                lat: parseFloat(lat),\n                lon: parseFloat(lon),\n                layer: \"drone2\"\n            }\n        };\n        \n        // Enviar a ambos destinos\n        return [msg, mapMsg];\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "12669be1efb9bb37"
            ],
            []
        ]
    },
    {
        "id": "6d97a91976d7adcf",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 19",
        "func": "// Image script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            msg.payload = \"Imagen recibida\";\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "2917cf0555912f1f"
            ]
        ]
    },
    {
        "id": "f1bfb55e58f68676",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 20",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1540,
        "wires": [
            [
                "1270bd749152a606"
            ]
        ]
    },
    {
        "id": "7607414478948996",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 21",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `latitude: ${lat}\\nlongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        var mapMsg = {\n            ...msg,\n            topic: \"waypoint\",\n            payload: {\n                name: `Farm 2 Drone 1 - Waypoint ${lat}, ${lon}`,\n                lat: parseFloat(lat),\n                lon: parseFloat(lon),\n                layer: \"farm2drone1\"\n            }\n        };\n        \n        // Enviar a ambos destinos\n        return [msg, mapMsg];\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1580,
        "wires": [
            [
                "7ef2a0d9c9918770"
            ],
            []
        ]
    },
    {
        "id": "75f32e0170266502",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 22",
        "func": "// Image script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            msg.payload = \"Imagen recibida\";\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1620,
        "wires": [
            [
                "6ab811dcfe996b0a"
            ]
        ]
    },
    {
        "id": "f06d89c552534fed",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 23",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('\\n\\n');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 480,
        "wires": [
            [
                "575b59fd30f54784"
            ]
        ]
    },
    {
        "id": "575b59fd30f54784",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "e1c65d3e46af733a",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Mission",
        "label": "Mission:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 480,
        "wires": []
    },
    {
        "id": "a0f46e68e05714ba",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 24",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('\\n\\n');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "dddf538f519bb573"
            ]
        ]
    },
    {
        "id": "dddf538f519bb573",
        "type": "ui-text",
        "z": "c2d3adb4a235ba22",
        "group": "f034f56730383b1b",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Mission",
        "label": "Mission:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 640,
        "wires": []
    },
    {
        "id": "6ebe82b420164dda",
        "type": "ui_template",
        "z": "c2d3adb4a235ba22",
        "group": "2b22040dcfd1c2fa",
        "name": "Image",
        "order": 0,
        "width": "15",
        "height": "15",
        "format": "<div style=\"width:100%; height:100%; display:flex; justify-content:center; align-items:center; background:black;\">\n    <img id=\"frame\" src=\"{{msg.image}}\" style=\"width:100%; height:100%; object-fit:cover;\"/>\n</div>\n\n<style>\n    html,\n    body,\n    #fullScreenContainer {\n        margin: 0;\n        padding: 0;\n        width: 100%;\n        height: 100%;\n        overflow: hidden;\n        /* Evita scroll */\n        background-color: black;\n        /* Opcional */\n    }\n\n    #fullScreenContainer {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n    }\n\n    #frame {\n        max-width: 100%;\n        max-height: 100%;\n        object-fit: contain;\n        /* Ajusta la imagen proporcionalmente */\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6e71d99cc40651e2",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 15",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.coords = `latitude: ${lat}\\nlongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        msg.mapMsg = {\n            \"name\": \"Drone 1\",\n            \"lat\": parseFloat(lat),\n            \"lon\": parseFloat(lon),\n            \"icon\": \"marker\",\n            \"layer\": \"drone1\"\n        };\n        \n        // Enviar a ambos destinos\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 880,
        "wires": [
            [
                "e0014a689b0f293b",
                "5c614a4652b51537"
            ],
            []
        ]
    },
    {
        "id": "2917cf0555912f1f",
        "type": "ui_template",
        "z": "c2d3adb4a235ba22",
        "group": "f8e2a48740055fbb",
        "name": "Image",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<div style=\"text-align:center\">\n    <img id=\"frame\" src=\"{{msg.image}}\"style=\"max-width:100%;height:100%;\"/>\n   \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "6ab811dcfe996b0a",
        "type": "ui_template",
        "z": "c2d3adb4a235ba22",
        "group": "1885fd2f2db6cc45",
        "name": "Image",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<div style=\"text-align:center\">\n    <img id=\"frame\" src=\"{{msg.image}}\"style=\"max-width:100%;height:100%;\"/>\n   \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "097934acbb6caef4",
        "type": "ui_template",
        "z": "c2d3adb4a235ba22",
        "d": true,
        "group": "2b22040dcfd1c2fa",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"height: 500px; width: 100%;\">\n    <iframe\n        id=\"droneMap-{{$id}}\"\n        width=\"100%\"\n        height=\"100%\"\n        style=\"border: 2px solid #d35400; border-radius: 8px;\"\n        frameborder=\"0\"\n        src=\"https://maps.google.com/maps?q=40.4168,-3.7038&z=15&output=embed\">\n    </iframe>\n</div>\n\n<script>\n(function() {\n    if (msg.payload && msg.payload.lat && msg.payload.lon) {\n        var lat = parseFloat(msg.payload.lat);\n        var lon = parseFloat(msg.payload.lon);\n        \n        var iframe = document.getElementById('droneMap-{{$id}}');\n        var newSrc = 'https://maps.google.com/maps?q=' + lat + ',' + lon + '&z=17&output=embed';\n        \n        iframe.src = newSrc;\n    }\n})();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "a2b03307316f6fc3",
        "type": "worldmap",
        "z": "c2d3adb4a235ba22",
        "name": "",
        "lat": "40.443546",
        "lon": "-3.738285",
        "zoom": "18",
        "layer": "EsriS",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1180,
        "y": 920,
        "wires": []
    },
    {
        "id": "5c614a4652b51537",
        "type": "function",
        "z": "c2d3adb4a235ba22",
        "name": "function 25",
        "func": "msg.payload=msg.mapMsg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 920,
        "wires": [
            [
                "a2b03307316f6fc3"
            ]
        ]
    },
    {
        "id": "244b594a533b3d05",
        "type": "ui-group",
        "name": "Input",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c9add7d565e246e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1c65d3e46af733a",
        "type": "ui-group",
        "name": "Input",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3ddafb9595fdef69",
        "type": "ui-group",
        "name": "Response",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "46021625c6fcaf5e",
        "type": "ui-group",
        "name": "Response",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "131f4b9e0911434d",
        "type": "ui-group",
        "name": "Response",
        "page": "efbfbf414443b708",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f034f56730383b1b",
        "type": "ui-group",
        "name": "Input",
        "page": "efbfbf414443b708",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d00d6627fbd36b27",
        "type": "ui-group",
        "name": "Reset",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "68ba4e0f2d65772c",
        "type": "ui-group",
        "name": "Reset",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d633db249650f11d",
        "type": "ui-group",
        "name": "Reset",
        "page": "efbfbf414443b708",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2b22040dcfd1c2fa",
        "type": "ui_group",
        "name": "Image",
        "tab": "80c2837de4c22343",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8e2a48740055fbb",
        "type": "ui_group",
        "name": "Image",
        "tab": "9beee1dd52ce833b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1885fd2f2db6cc45",
        "type": "ui_group",
        "name": "Image",
        "tab": "b2c613880e541e49",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d776ec1af93d5c84",
        "type": "ui-page",
        "name": "Farm 1 Dron 1",
        "ui": "debfeef4d9f08595",
        "path": "/farm1/dron1",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "04881b1716ea0637",
        "type": "ui-page",
        "name": "Farm 1 Dron 2",
        "ui": "debfeef4d9f08595",
        "path": "/farm1/dron2",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "efbfbf414443b708",
        "type": "ui-page",
        "name": "Farm 2 Dron 1",
        "ui": "debfeef4d9f08595",
        "path": "/farm2/dron1",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "80c2837de4c22343",
        "type": "ui_tab",
        "name": "Farm 1 Drone 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9beee1dd52ce833b",
        "type": "ui_tab",
        "name": "Farm 1 Drone 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2c613880e541e49",
        "type": "ui_tab",
        "name": "Farm 2 Drone 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "debfeef4d9f08595",
        "type": "ui-base",
        "name": "ui",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "bebf3513799e0627",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "2f4112a8ea3ba770",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-aedes": "0.15.0",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-web-worldmap": "5.5.4"
        }
    }
]