Node Red/flows.json
[
    {
        "id": "2d1606ea945c4f57",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5b64e73c7f814ca",
        "type": "ui-file-input",
        "z": "2d1606ea945c4f57",
        "group": "244b594a533b3d05",
        "name": "Input file",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "90b1e544130ead50"
            ]
        ]
    },
    {
        "id": "e7311d35dccc5a5c",
        "type": "mqtt out",
        "z": "2d1606ea945c4f57",
        "name": "",
        "topic": "farms/farm_1/mission",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "2090da4b74a3aeb2",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "e7311d35dccc5a5c",
                "224e1cae98fdd264",
                "f21e7e94884ee310"
            ],
            []
        ]
    },
    {
        "id": "af87e20200aa7d7e",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "224e1cae98fdd264",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug before mqtt",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "b72d3835b760224d",
        "type": "mqtt in",
        "z": "2d1606ea945c4f57",
        "name": "",
        "topic": "farms/farm_1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 680,
        "wires": [
            [
                "d7f2c2a7e9ea858f",
                "83904a4a663df57b",
                "c2f0c6ed3909a536",
                "eba1068f0c2dbf50",
                "01b95a8963896995",
                "d656ddb0b4a99136",
                "a61b3bf997588586",
                "a16c198990abe044"
            ]
        ]
    },
    {
        "id": "90b1e544130ead50",
        "type": "json",
        "z": "2d1606ea945c4f57",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "2090da4b74a3aeb2",
                "af87e20200aa7d7e"
            ]
        ]
    },
    {
        "id": "d7f2c2a7e9ea858f",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug parsed payload",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 960,
        "wires": []
    },
    {
        "id": "243aeca1bac39dd5",
        "type": "aedes broker",
        "z": "2d1606ea945c4f57",
        "name": "",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "b2cd1fd794a2342f"
            ],
            [
                "f3cf51b9c3e2879d"
            ]
        ]
    },
    {
        "id": "b2cd1fd794a2342f",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3cf51b9c3e2879d",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b6c659a4c8971c7",
        "type": "mqtt out",
        "z": "2d1606ea945c4f57",
        "name": "",
        "topic": "farms/farm_1/drone_2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "8ab6079cb65448f5",
        "type": "ui-file-input",
        "z": "2d1606ea945c4f57",
        "group": "e1c65d3e46af733a",
        "name": "Input file",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "f220475195031e79"
            ]
        ]
    },
    {
        "id": "751d30c3d628416d",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "9b6c659a4c8971c7",
                "ae12f9851e726427",
                "b8cdd36269846152"
            ],
            []
        ]
    },
    {
        "id": "b593912c5bf8009d",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "f220475195031e79",
        "type": "json",
        "z": "2d1606ea945c4f57",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "751d30c3d628416d",
                "b593912c5bf8009d"
            ]
        ]
    },
    {
        "id": "ae12f9851e726427",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug before mqtt",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd33cea1fb10bc48",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 680,
        "wires": []
    },
    {
        "id": "83904a4a663df57b",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 1",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "fd33cea1fb10bc48"
            ]
        ]
    },
    {
        "id": "5713c1f8d53a5340",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "c2f0c6ed3909a536",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 2",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "5713c1f8d53a5340"
            ]
        ]
    },
    {
        "id": "5a2f0092d36631ea",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 760,
        "wires": []
    },
    {
        "id": "eba1068f0c2dbf50",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 3",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 760,
        "wires": [
            [
                "5a2f0092d36631ea"
            ]
        ]
    },
    {
        "id": "42f094b849065fe3",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "01b95a8963896995",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 4",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "42f094b849065fe3"
            ]
        ]
    },
    {
        "id": "d0076e6fabc27536",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 880,
        "wires": []
    },
    {
        "id": "2bc738da0e2b4752",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "3ddafb9595fdef69",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "d4ee0b333d71e888",
        "type": "mqtt in",
        "z": "2d1606ea945c4f57",
        "name": "",
        "topic": "farms/farm_1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "53e9e09f8b99f86b",
                "3a0bac9e9fddd2e4",
                "1af962b76fdf16e5",
                "2173acb317f05d4c",
                "cde6ae212329aa33",
                "e97875d2d7f00b2d",
                "ae68557498b4974c",
                "71eb36d027c38426"
            ]
        ]
    },
    {
        "id": "53e9e09f8b99f86b",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1320,
        "wires": []
    },
    {
        "id": "410b636e84abcf47",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "c60f3a6a8efe5e1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3a0bac9e9fddd2e4",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 5",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "410b636e84abcf47"
            ]
        ]
    },
    {
        "id": "e7b4d81ceca2cb22",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "c60f3a6a8efe5e1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1af962b76fdf16e5",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 6",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "e7b4d81ceca2cb22"
            ]
        ]
    },
    {
        "id": "897b1e8588734dd3",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "c60f3a6a8efe5e1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2173acb317f05d4c",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 7",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "897b1e8588734dd3"
            ]
        ]
    },
    {
        "id": "7d9befbd6937138f",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "c60f3a6a8efe5e1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "takeoffSuccess",
        "valueType": "msg",
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cde6ae212329aa33",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 8",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "7d9befbd6937138f"
            ]
        ]
    },
    {
        "id": "577639df72ac3d2c",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "c60f3a6a8efe5e1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "coords",
        "valueType": "msg",
        "x": 680,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c04efdd5bac88fe2",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "c60f3a6a8efe5e1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "returnhome",
        "valueType": "msg",
        "x": 670,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ed04f3b2e75b1275",
        "type": "mqtt in",
        "z": "2d1606ea945c4f57",
        "name": "",
        "topic": "farms/farm_2/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "156939d73f20b70a",
                "d10f5caddf9a62fc",
                "bbddf26d89b09890",
                "061f95a8bccb3a0c",
                "94813a2099daeb61",
                "7130ad77bbcf6e9c",
                "c1d481b5727c4664",
                "9ec5d16862f4cd2c"
            ]
        ]
    },
    {
        "id": "156939d73f20b70a",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1700,
        "wires": []
    },
    {
        "id": "daa82de2770fb91d",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "81d3f6ecd676fb56",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d10f5caddf9a62fc",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 9",
        "func": "if (msg.topic == 'farms/farm_2/drone_1/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1380,
        "wires": [
            [
                "daa82de2770fb91d"
            ]
        ]
    },
    {
        "id": "985d810ad24f521b",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "81d3f6ecd676fb56",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1420,
        "wires": []
    },
    {
        "id": "bbddf26d89b09890",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 10",
        "func": "if (msg.topic == 'farms/farm_2/drone_1/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "985d810ad24f521b"
            ]
        ]
    },
    {
        "id": "24d85e134f362da8",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "81d3f6ecd676fb56",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1460,
        "wires": []
    },
    {
        "id": "061f95a8bccb3a0c",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 11",
        "func": "if (msg.topic == 'farms/farm_2/drone_1/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "24d85e134f362da8"
            ]
        ]
    },
    {
        "id": "8439353b45081160",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "81d3f6ecd676fb56",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "takeoffSuccess",
        "valueType": "msg",
        "x": 680,
        "y": 1500,
        "wires": []
    },
    {
        "id": "94813a2099daeb61",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 12",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "8439353b45081160"
            ]
        ]
    },
    {
        "id": "da95988fad6bd313",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "81d3f6ecd676fb56",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "coords",
        "valueType": "msg",
        "x": 680,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1c087baa8ebcf049",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "81d3f6ecd676fb56",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "/return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "returnhome",
        "valueType": "msg",
        "x": 670,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2741cf9b88fe1943",
        "type": "mqtt out",
        "z": "2d1606ea945c4f57",
        "name": "",
        "topic": "farms/farm_2/drone_1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "61cc705c82ef0e23",
        "type": "ui-file-input",
        "z": "2d1606ea945c4f57",
        "group": "d5876416febbc663",
        "name": "Input file",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "381d856b24764cbb"
            ]
        ]
    },
    {
        "id": "2b58e3c8996bd3ac",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "2741cf9b88fe1943",
                "89fe65de5af9c32a",
                "72f027cb753d6e7e"
            ],
            []
        ]
    },
    {
        "id": "a6685eb7b463765f",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "381d856b24764cbb",
        "type": "json",
        "z": "2d1606ea945c4f57",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "2b58e3c8996bd3ac",
                "a6685eb7b463765f"
            ]
        ]
    },
    {
        "id": "89fe65de5af9c32a",
        "type": "debug",
        "z": "2d1606ea945c4f57",
        "name": "Debug before mqtt",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "f1d637bd682d7313",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "244b594a533b3d05",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Mission",
        "label": "Mission:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "f21e7e94884ee310",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 13",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('\\n\\n');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "f1d637bd682d7313"
            ]
        ]
    },
    {
        "id": "54760414ea493853",
        "type": "ui-button",
        "z": "2d1606ea945c4f57",
        "group": "a09965a20dbb7bb0",
        "name": "Reset info",
        "label": "Reset Info",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "fd33cea1fb10bc48",
                "5713c1f8d53a5340",
                "5a2f0092d36631ea",
                "42f094b849065fe3",
                "d0076e6fabc27536",
                "2bc738da0e2b4752",
                "f1d637bd682d7313",
                "b96ee05ce7e2da8d"
            ]
        ]
    },
    {
        "id": "9a247c76f579b79d",
        "type": "ui-button",
        "z": "2d1606ea945c4f57",
        "group": "671bf2d84efcd0a1",
        "name": "Reset info",
        "label": "Reset Info",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 880,
        "y": 1160,
        "wires": [
            [
                "410b636e84abcf47",
                "e7b4d81ceca2cb22",
                "897b1e8588734dd3",
                "7d9befbd6937138f",
                "577639df72ac3d2c",
                "c04efdd5bac88fe2",
                "760dd5fb6b594831",
                "9834480841183997"
            ]
        ]
    },
    {
        "id": "4f1017274123d253",
        "type": "ui-button",
        "z": "2d1606ea945c4f57",
        "group": "5a5fd2d35e26d69a",
        "name": "Reset info",
        "label": "Reset info",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 860,
        "y": 1480,
        "wires": [
            [
                "daa82de2770fb91d",
                "985d810ad24f521b",
                "24d85e134f362da8",
                "8439353b45081160",
                "da95988fad6bd313",
                "1c087baa8ebcf049",
                "f2e10698548ce2c9",
                "9f9462541303df7f"
            ]
        ]
    },
    {
        "id": "d656ddb0b4a99136",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 14",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "2bc738da0e2b4752"
            ]
        ]
    },
    {
        "id": "a61b3bf997588586",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 16",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 920,
        "wires": [
            [
                "b96ee05ce7e2da8d"
            ]
        ]
    },
    {
        "id": "e97875d2d7f00b2d",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 17",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "c04efdd5bac88fe2"
            ]
        ]
    },
    {
        "id": "ae68557498b4974c",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 18",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `latitude: ${lat}\\nlongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        var mapMsg = {\n            ...msg,\n            topic: \"waypoint\",\n            payload: {\n                name: `Drone 2 - Waypoint ${lat}, ${lon}`,\n                lat: parseFloat(lat),\n                lon: parseFloat(lon),\n                layer: \"drone2\"\n            }\n        };\n        \n        // Enviar a ambos destinos\n        return [msg, mapMsg];\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "577639df72ac3d2c"
            ],
            []
        ]
    },
    {
        "id": "71eb36d027c38426",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 19",
        "func": "// Image script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            msg.payload = \"Imagen recibida\";\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "9834480841183997"
            ]
        ]
    },
    {
        "id": "7130ad77bbcf6e9c",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 20",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1540,
        "wires": [
            [
                "1c087baa8ebcf049"
            ]
        ]
    },
    {
        "id": "c1d481b5727c4664",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 21",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `latitude: ${lat}\\nlongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        var mapMsg = {\n            ...msg,\n            topic: \"waypoint\",\n            payload: {\n                name: `Farm 2 Drone 1 - Waypoint ${lat}, ${lon}`,\n                lat: parseFloat(lat),\n                lon: parseFloat(lon),\n                layer: \"farm2drone1\"\n            }\n        };\n        \n        // Enviar a ambos destinos\n        return [msg, mapMsg];\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1580,
        "wires": [
            [
                "da95988fad6bd313"
            ],
            []
        ]
    },
    {
        "id": "9ec5d16862f4cd2c",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 22",
        "func": "// Image script\nif (msg.topic == 'farms/farm_2/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            msg.payload = \"Imagen recibida\";\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1620,
        "wires": [
            [
                "9f9462541303df7f"
            ]
        ]
    },
    {
        "id": "b8cdd36269846152",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 23",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('\\n\\n');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 480,
        "wires": [
            [
                "760dd5fb6b594831"
            ]
        ]
    },
    {
        "id": "760dd5fb6b594831",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "e1c65d3e46af733a",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Mission",
        "label": "Mission:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 480,
        "wires": []
    },
    {
        "id": "72f027cb753d6e7e",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 24",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('\\n\\n');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "f2e10698548ce2c9"
            ]
        ]
    },
    {
        "id": "f2e10698548ce2c9",
        "type": "ui-text",
        "z": "2d1606ea945c4f57",
        "group": "d5876416febbc663",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "Mission",
        "label": "Mission:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1160,
        "y": 640,
        "wires": []
    },
    {
        "id": "b96ee05ce7e2da8d",
        "type": "ui_template",
        "z": "2d1606ea945c4f57",
        "group": "531f365c370497de",
        "name": "Image",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<div style=\"text-align:center\">\n    <img id=\"frame\" src=\"{{msg.image}}\"style=\"max-width:100%;height:100%;\"/>\n   \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a16c198990abe044",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 15",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.coords = `latitude: ${lat}\\nlongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        msg.mapMsg = {\n            \n            name: `Drone 1 - Waypoint ${lat}, ${lon}`,\n            lat: parseFloat(lat),\n            lon: parseFloat(lon),\n            icon: \"marker\",\n            layer: \"drone1\"\n        };\n        \n        // Enviar a ambos destinos\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 880,
        "wires": [
            [
                "d0076e6fabc27536"
            ],
            [
                "ac41dfb48c316aa8"
            ]
        ]
    },
    {
        "id": "9834480841183997",
        "type": "ui_template",
        "z": "2d1606ea945c4f57",
        "group": "f88fa4b71545565f",
        "name": "Image",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<div style=\"text-align:center\">\n    <img id=\"frame\" src=\"{{msg.image}}\"style=\"max-width:100%;height:100%;\"/>\n   \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "9f9462541303df7f",
        "type": "ui_template",
        "z": "2d1606ea945c4f57",
        "group": "0d25329be1f3411f",
        "name": "Image",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<div style=\"text-align:center\">\n    <img id=\"frame\" src=\"{{msg.image}}\"style=\"max-width:100%;height:100%;\"/>\n   \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "2c2bbd6c1fc87746",
        "type": "ui_template",
        "z": "2d1606ea945c4f57",
        "d": true,
        "group": "531f365c370497de",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"height: 500px; width: 100%;\">\n    <iframe\n        id=\"droneMap-{{$id}}\"\n        width=\"100%\"\n        height=\"100%\"\n        style=\"border: 2px solid #d35400; border-radius: 8px;\"\n        frameborder=\"0\"\n        src=\"https://maps.google.com/maps?q=40.4168,-3.7038&z=15&output=embed\">\n    </iframe>\n</div>\n\n<script>\n(function() {\n    if (msg.payload && msg.payload.lat && msg.payload.lon) {\n        var lat = parseFloat(msg.payload.lat);\n        var lon = parseFloat(msg.payload.lon);\n        \n        var iframe = document.getElementById('droneMap-{{$id}}');\n        var newSrc = 'https://maps.google.com/maps?q=' + lat + ',' + lon + '&z=17&output=embed';\n        \n        iframe.src = newSrc;\n    }\n})();\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "2e774aa501a1ea20",
        "type": "worldmap",
        "z": "2d1606ea945c4f57",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1180,
        "y": 920,
        "wires": []
    },
    {
        "id": "ac41dfb48c316aa8",
        "type": "function",
        "z": "2d1606ea945c4f57",
        "name": "function 25",
        "func": "msg.payload=msg.mapMsg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 920,
        "wires": [
            [
                "2e774aa501a1ea20"
            ]
        ]
    },
    {
        "id": "244b594a533b3d05",
        "type": "ui-group",
        "name": "Input",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c9add7d565e246e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1c65d3e46af733a",
        "type": "ui-group",
        "name": "Input",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3ddafb9595fdef69",
        "type": "ui-group",
        "name": "Response",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c60f3a6a8efe5e1c",
        "type": "ui-group",
        "name": "Response",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "81d3f6ecd676fb56",
        "type": "ui-group",
        "name": "Response",
        "page": "7f0a960c9e530cf9",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d5876416febbc663",
        "type": "ui-group",
        "name": "Input",
        "page": "7f0a960c9e530cf9",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a09965a20dbb7bb0",
        "type": "ui-group",
        "name": "Reset",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "671bf2d84efcd0a1",
        "type": "ui-group",
        "name": "Reset",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5a5fd2d35e26d69a",
        "type": "ui-group",
        "name": "Reset",
        "page": "7f0a960c9e530cf9",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "531f365c370497de",
        "type": "ui_group",
        "name": "Image",
        "tab": "49a040d9433cc4c9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f88fa4b71545565f",
        "type": "ui_group",
        "name": "Image",
        "tab": "550e144648d09eef",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d25329be1f3411f",
        "type": "ui_group",
        "name": "Image",
        "tab": "3e95ecaf5bc7168c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d776ec1af93d5c84",
        "type": "ui-page",
        "name": "Dron 1",
        "ui": "debfeef4d9f08595",
        "path": "/dron1",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "04881b1716ea0637",
        "type": "ui-page",
        "name": "Dron 2",
        "ui": "debfeef4d9f08595",
        "path": "/dron2",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7f0a960c9e530cf9",
        "type": "ui-page",
        "name": "Farm 2 Dron 1",
        "ui": "debfeef4d9f08595",
        "path": "/farm2/dron1",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "49a040d9433cc4c9",
        "type": "ui_tab",
        "name": "Farm 1 Drone 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "550e144648d09eef",
        "type": "ui_tab",
        "name": "Farm 1 Drone 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3e95ecaf5bc7168c",
        "type": "ui_tab",
        "name": "Farm 2 Drone 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "debfeef4d9f08595",
        "type": "ui-base",
        "name": "ui",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bebf3513799e0627",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "56e88567b4f7ad30",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-aedes": "0.15.0",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-web-worldmap": "5.5.4"
        }
    }
]