Node Red/flows.json
[
    {
        "id": "69012418ada3eb2c",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b18cb69a5b69e52",
        "type": "ui-file-input",
        "z": "69012418ada3eb2c",
        "group": "244b594a533b3d05",
        "name": "Input file",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "ad8d17a4bdfdf624"
            ]
        ]
    },
    {
        "id": "cc4e943b4f0c60fa",
        "type": "mqtt out",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_1/mission",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "92e34566d637b927",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "cc4e943b4f0c60fa",
                "328aa16ef7724f5e",
                "143271c7c7cadb0a"
            ],
            []
        ]
    },
    {
        "id": "ccfdb808ebac336e",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "328aa16ef7724f5e",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug before mqtt",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "ae92106f86f86f9f",
        "type": "mqtt in",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_1/drone_1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 680,
        "wires": [
            [
                "2c756a6a07650979",
                "7f67190325e9c074",
                "fa0824550b515248",
                "92d5a7a6f61c8471",
                "8c2939fdc66b84c9",
                "7f4244b12176c964",
                "6ab57dccf91cfae1",
                "44733c684a21e8a2"
            ]
        ]
    },
    {
        "id": "ad8d17a4bdfdf624",
        "type": "json",
        "z": "69012418ada3eb2c",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "92e34566d637b927",
                "ccfdb808ebac336e"
            ]
        ]
    },
    {
        "id": "2c756a6a07650979",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug parsed payload",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 960,
        "wires": []
    },
    {
        "id": "7aeb0779de9bb50d",
        "type": "aedes broker",
        "z": "69012418ada3eb2c",
        "name": "",
        "mqtt_port": "1885",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "69c751ff5a62e612"
            ],
            [
                "c604f321cb566c6e"
            ]
        ]
    },
    {
        "id": "69c751ff5a62e612",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "c604f321cb566c6e",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "5201ec2fe96bf39c",
        "type": "mqtt out",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_1/mission",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "8ebaa80dbb0923e8",
        "type": "ui-file-input",
        "z": "69012418ada3eb2c",
        "group": "e1c65d3e46af733a",
        "name": "Input file",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "7cfb0c552013eea2"
            ]
        ]
    },
    {
        "id": "dcb40901f6e90a7d",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "5201ec2fe96bf39c",
                "adf3b263149736c0",
                "c9d276d6c7501b1d"
            ],
            []
        ]
    },
    {
        "id": "7b2a448f7f5aca2a",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "7cfb0c552013eea2",
        "type": "json",
        "z": "69012418ada3eb2c",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "dcb40901f6e90a7d",
                "7b2a448f7f5aca2a"
            ]
        ]
    },
    {
        "id": "adf3b263149736c0",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug before mqtt",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "b8b66c4eac7d66fa",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 680,
        "wires": []
    },
    {
        "id": "7f67190325e9c074",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 1",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "b8b66c4eac7d66fa"
            ]
        ]
    },
    {
        "id": "6b569293f6adc77e",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "fa0824550b515248",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 2",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "6b569293f6adc77e"
            ]
        ]
    },
    {
        "id": "0ae1535da750581b",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 760,
        "wires": []
    },
    {
        "id": "9c930c6cfeeeacb2",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 3",
        "func": "if (msg.topic == 'farms/farm_1/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 760,
        "wires": [
            [
                "0ae1535da750581b"
            ]
        ]
    },
    {
        "id": "303b6df99730e24a",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "92d5a7a6f61c8471",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 4",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "303b6df99730e24a"
            ]
        ]
    },
    {
        "id": "22ee6f830d21b13f",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 880,
        "wires": []
    },
    {
        "id": "f839c9bdbfb41b93",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "a5218edfa7b4d2cd",
        "type": "mqtt in",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_1/drone_2/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "cf726e49be2f07e9",
                "4343ac0576042100",
                "b5d74b414592bdfe",
                "ac6285b34a362a87",
                "10057dec2b38c30e",
                "a74a40efe3115072",
                "52d73342988f3fa2",
                "c28d42615cbd9a26"
            ]
        ]
    },
    {
        "id": "cf726e49be2f07e9",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 1300,
        "wires": []
    },
    {
        "id": "446856e10c88bfe7",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4343ac0576042100",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 5",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "446856e10c88bfe7"
            ]
        ]
    },
    {
        "id": "67bb277adeaf6848",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b5d74b414592bdfe",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 6",
        "func": "if (msg.topic == 'farms/farm_1/drone_2/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "67bb277adeaf6848"
            ]
        ]
    },
    {
        "id": "879b591e49796f72",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5578d95fb680b452",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 7",
        "func": "if (msg.topic == 'farms/farm_1/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "879b591e49796f72"
            ]
        ]
    },
    {
        "id": "602cdef1b3baa0d0",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ac6285b34a362a87",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 8",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "602cdef1b3baa0d0"
            ]
        ]
    },
    {
        "id": "d9ecf3ebc5c4b527",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 680,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ac245879c332e3e3",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 1180,
        "wires": []
    },
    {
        "id": "257a333ce411daab",
        "type": "mqtt in",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_2/drone_3/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 760,
        "wires": [
            [
                "b844f4d13c85d9da",
                "ed98732d3c80d260",
                "31caaa5e0d425538",
                "043b73beedabdb71",
                "1041e57a49a00429",
                "fb1fc90e8c6c7afb",
                "b7957304f6c0ca1b",
                "b16484bc972cb84b"
            ]
        ]
    },
    {
        "id": "b844f4d13c85d9da",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 1080,
        "wires": []
    },
    {
        "id": "832a9a128d2cbecf",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Goal",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1690,
        "y": 760,
        "wires": []
    },
    {
        "id": "ed98732d3c80d260",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 9",
        "func": "if (msg.topic == 'farms/farm_2/drone_3/goal') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 760,
        "wires": [
            [
                "832a9a128d2cbecf"
            ]
        ]
    },
    {
        "id": "ace67227928077d9",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Result",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1690,
        "y": 800,
        "wires": []
    },
    {
        "id": "31caaa5e0d425538",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 10",
        "func": "if (msg.topic == 'farms/farm_2/drone_3/result') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 800,
        "wires": [
            [
                "ace67227928077d9"
            ]
        ]
    },
    {
        "id": "4ca5bef8f43af101",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1700,
        "y": 840,
        "wires": []
    },
    {
        "id": "63e079b56f64d491",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 11",
        "func": "if (msg.topic == 'farms/farm_2/warning') {\n    msg.payload = msg.payload.message;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 840,
        "wires": [
            [
                "4ca5bef8f43af101"
            ]
        ]
    },
    {
        "id": "bc28e610cdbdf9f6",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Takeoff",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1700,
        "y": 880,
        "wires": []
    },
    {
        "id": "043b73beedabdb71",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 12",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_2/drone_3/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Takeoff successful\") {\n        msg.payload = \"Takeoff successful\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 880,
        "wires": [
            [
                "bc28e610cdbdf9f6"
            ]
        ]
    },
    {
        "id": "e1d80d260ce2271b",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Waypoint",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1700,
        "y": 960,
        "wires": []
    },
    {
        "id": "c6653eed639ef827",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Return",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1690,
        "y": 920,
        "wires": []
    },
    {
        "id": "1fcfc3d94c790986",
        "type": "mqtt out",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_2/mission",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9add7d565e246e8",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "8ee6f89dea576403",
        "type": "ui-file-input",
        "z": "69012418ada3eb2c",
        "group": "19114ec8024a98a6",
        "name": "Input file",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "3bedf10a2e2e22c6"
            ]
        ]
    },
    {
        "id": "715061fed8a87de3",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "validate & prepare",
        "func": "// Expected input: msg.payload === { topic?: string, payload: any }\n// Output: msg.topic, msg.payload (string or Buffer depending on use)\ntry {\n    const body = msg.payload;\n    if (body === null || typeof body !== 'object') {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid JSON body' };\n        return [ null, msg ]; // go to http response via second output\n    }\n\n    // choose topic: prefer body.topic if present and whitelisted, otherwise default topic\n    const defaultTopic = 'my/default/topic';\n\n    msg.topic = defaultTopic;\n    msg.payload = JSON.stringify(msg.payload);\n\n    // For the HTTP response later\n    msg._http_reply = { success: true, topic: defaultTopic };\n\n    return [ msg, null ]; // first output -> mqtt out; second output -> http response on error\n} catch (err) {\n    msg.statusCode = 500;\n    msg.payload = { error: 'Server error', details: err.message };\n    return [ null, msg ];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 580,
        "wires": [
            [
                "1fcfc3d94c790986",
                "c1cff417a7bdbfca",
                "89dc3f1fe6494080"
            ],
            []
        ]
    },
    {
        "id": "da2a11aeed562a87",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug parsed payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "3bedf10a2e2e22c6",
        "type": "json",
        "z": "69012418ada3eb2c",
        "name": "Ensure JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "715061fed8a87de3",
                "da2a11aeed562a87"
            ]
        ]
    },
    {
        "id": "c1cff417a7bdbfca",
        "type": "debug",
        "z": "69012418ada3eb2c",
        "name": "Debug before mqtt",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "93b8b147cfb9bfef",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "244b594a533b3d05",
        "order": 2,
        "width": "2",
        "height": "26",
        "name": "Mission",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "143271c7c7cadb0a",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 13",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('<br><br>');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "93b8b147cfb9bfef"
            ]
        ]
    },
    {
        "id": "9f80070b654166c4",
        "type": "ui-button",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "name": "Reset info",
        "label": "Reset Info",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "b8b66c4eac7d66fa",
                "6b569293f6adc77e",
                "0ae1535da750581b",
                "303b6df99730e24a",
                "22ee6f830d21b13f",
                "f839c9bdbfb41b93",
                "93b8b147cfb9bfef",
                "d58f96498046c47b",
                "9ccda3deebf1db8a"
            ]
        ]
    },
    {
        "id": "828836dd4165657f",
        "type": "ui-button",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "name": "Reset info",
        "label": "Reset Info",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 960,
        "y": 1080,
        "wires": [
            [
                "446856e10c88bfe7",
                "67bb277adeaf6848",
                "879b591e49796f72",
                "602cdef1b3baa0d0",
                "d9ecf3ebc5c4b527",
                "ac245879c332e3e3",
                "2d75430f70ef76d4",
                "6ba68e72ef3e3704",
                "8feb26b3c06bc4f7"
            ]
        ]
    },
    {
        "id": "9babadf4b097e8da",
        "type": "ui-button",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "name": "Reset info",
        "label": "Reset info",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1880,
        "y": 860,
        "wires": [
            [
                "832a9a128d2cbecf",
                "ace67227928077d9",
                "4ca5bef8f43af101",
                "bc28e610cdbdf9f6",
                "e1d80d260ce2271b",
                "c6653eed639ef827",
                "43ec87c2f4a0c1cd",
                "b973c383329717ec",
                "a14b28615829085f"
            ]
        ]
    },
    {
        "id": "8c2939fdc66b84c9",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 14",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "f839c9bdbfb41b93"
            ]
        ]
    },
    {
        "id": "7f4244b12176c964",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 16",
        "func": "if (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 920,
        "wires": [
            [
                "d58f96498046c47b"
            ]
        ]
    },
    {
        "id": "10057dec2b38c30e",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 17",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "ac245879c332e3e3"
            ]
        ]
    },
    {
        "id": "a74a40efe3115072",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 18",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `Latitude: ${lat}\\nLongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        msg.mapMsg = {\n            \"name\": \"Drone 2\",\n            \"lat\": parseFloat(lat),\n            \"lon\": parseFloat(lon),\n            \"icon\": \"green\",\n            \"layer\": \"drone2\"\n        };\n        \n        // Enviar a ambos destinos\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "d9ecf3ebc5c4b527",
                "7459e25d2c6f2ec8"
            ],
            []
        ]
    },
    {
        "id": "52d73342988f3fa2",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 19",
        "func": "// Image script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            msg.payload = \"Imagen recibida\";\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "6ba68e72ef3e3704"
            ]
        ]
    },
    {
        "id": "1041e57a49a00429",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 20",
        "func": "// Return home script\nif (msg.topic == 'farms/farm_2/drone_3/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message && inner.message === \"Returned home\") {\n        msg.payload = \"Returned home\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 920,
        "wires": [
            [
                "c6653eed639ef827"
            ]
        ]
    },
    {
        "id": "fb1fc90e8c6c7afb",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 21",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_2/drone_3/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `Latitude: ${lat}\\nLongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        msg.mapMsg = {\n            \"name\": \"Drone 3\",\n            \"lat\": parseFloat(lat),\n            \"lon\": parseFloat(lon),\n            \"icon\": \"blue\",\n            \"layer\": \"drone3\"\n        };\n        \n        // Enviar a ambos destinos\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 960,
        "wires": [
            [
                "e1d80d260ce2271b",
                "b80791672d753b58"
            ],
            []
        ]
    },
    {
        "id": "b7957304f6c0ca1b",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 22",
        "func": "// Image script\nif (msg.topic == 'farms/farm_2/drone_3/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (Array.isArray(inner.message) && inner.message.length >= 2) {\n        const second = inner.message[1];\n        if (typeof second === \"string\" && second.startsWith(\"data:image/\")) {\n            msg.image = second;\n            msg.payload = \"Imagen recibida\";\n            return msg;\n        }\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1000,
        "wires": [
            [
                "b973c383329717ec"
            ]
        ]
    },
    {
        "id": "c9d276d6c7501b1d",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 23",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('<br><br>');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 480,
        "wires": [
            [
                "2d75430f70ef76d4"
            ]
        ]
    },
    {
        "id": "2d75430f70ef76d4",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "e1c65d3e46af733a",
        "order": 2,
        "width": "2",
        "height": "26",
        "name": "Mission",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 480,
        "wires": []
    },
    {
        "id": "89dc3f1fe6494080",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 24",
        "func": "let data = msg.payload;\n\nif (typeof data === 'string') {\n    data = JSON.parse(data);\n}\n\nif (data.commands && Array.isArray(data.commands)) {\n    // Mantener el orden ORIGINAL del array sin ordenar\n    msg.payload = data.commands\n        .map((comando, index) => `${index + 1}. ${comando.commandType}`)\n        .join('<br><br>');\n} else {\n    msg.payload = \"No se encontraron comandos\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "43ec87c2f4a0c1cd"
            ]
        ]
    },
    {
        "id": "43ec87c2f4a0c1cd",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "19114ec8024a98a6",
        "order": 2,
        "width": "2",
        "height": "26",
        "name": "Mission",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1140,
        "y": 640,
        "wires": []
    },
    {
        "id": "d58f96498046c47b",
        "type": "ui_template",
        "z": "69012418ada3eb2c",
        "group": "ac3c8e0eaa34d939",
        "name": "Image",
        "order": 0,
        "width": "15",
        "height": "15",
        "format": "<div style=\"width:100%; height:100%; display:flex; justify-content:center; align-items:center; background:black;\">\n    <img id=\"frame\" src=\"{{msg.image}}\" style=\"width:100%; height:100%; object-fit:cover;\"/>\n</div>\n\n<style>\n    html,\n    body,\n    #fullScreenContainer {\n        margin: 0;\n        padding: 0;\n        width: 100%;\n        height: 100%;\n        overflow: hidden;\n        /* Evita scroll */\n        background-color: black;\n        /* Opcional */\n    }\n\n    #fullScreenContainer {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n    }\n\n    #frame {\n        max-width: 100%;\n        max-height: 100%;\n        object-fit: contain;\n        /* Ajusta la imagen proporcionalmente */\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6ab57dccf91cfae1",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 15",
        "func": "// Waypoint script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message === \"Waypoint reached\") {\n        const lat = inner.latitude;\n        const lon = inner.longitude;\n        \n        // Mensaje original para el texto\n        msg.payload = `Latitude: ${lat}\\nLongitude: ${lon}`;\n        \n        // Crear mensaje para el mapa (clonar)\n        msg.mapMsg = {\n            \"name\": \"Drone 1\",\n            \"lat\": parseFloat(lat),\n            \"lon\": parseFloat(lon),\n            \"icon\": \"marker\",\n            \"layer\": \"drone1\"\n        };\n        \n        // Enviar a ambos destinos\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 880,
        "wires": [
            [
                "22ee6f830d21b13f",
                "310e502c1d704b0e"
            ],
            []
        ]
    },
    {
        "id": "6ba68e72ef3e3704",
        "type": "ui_template",
        "z": "69012418ada3eb2c",
        "group": "9f37c055689e6c60",
        "name": "Image",
        "order": 0,
        "width": "15",
        "height": "15",
        "format": "<div style=\"width:100%; height:100%; display:flex; justify-content:center; align-items:center; background:black;\">\n    <img id=\"frame\" src=\"{{msg.image}}\" style=\"width:100%; height:100%; object-fit:cover;\"/>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "b973c383329717ec",
        "type": "ui_template",
        "z": "69012418ada3eb2c",
        "group": "6df07ec32a06aad6",
        "name": "Image",
        "order": 0,
        "width": "15",
        "height": "15",
        "format": "<div style=\"width:100%; height:100%; display:flex; justify-content:center; align-items:center; background:black;\">\n    <img id=\"frame\" src=\"{{msg.image}}\" style=\"width:100%; height:100%; object-fit:cover;\"/>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1690,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "035dbb0992da59e6",
        "type": "worldmap",
        "z": "69012418ada3eb2c",
        "name": "",
        "lat": "40.443546",
        "lon": "-3.738285",
        "zoom": "18",
        "layer": "EsriS",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "310e502c1d704b0e",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 25",
        "func": "msg.payload=msg.mapMsg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 920,
        "wires": [
            [
                "035dbb0992da59e6"
            ]
        ]
    },
    {
        "id": "689059c18ed76513",
        "type": "worldmap",
        "z": "69012418ada3eb2c",
        "name": "",
        "lat": "40.443546",
        "lon": "-3.738285",
        "zoom": "18",
        "layer": "EsriS",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 960,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7459e25d2c6f2ec8",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 26",
        "func": "msg.payload=msg.mapMsg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1280,
        "wires": [
            [
                "689059c18ed76513"
            ]
        ]
    },
    {
        "id": "0bbdb3e5609a7e53",
        "type": "worldmap",
        "z": "69012418ada3eb2c",
        "name": "",
        "lat": "40.443546",
        "lon": "-3.738285",
        "zoom": "18",
        "layer": "EsriS",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1960,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b80791672d753b58",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 27",
        "func": "msg.payload=msg.mapMsg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 980,
        "wires": [
            [
                "0bbdb3e5609a7e53"
            ]
        ]
    },
    {
        "id": "44733c684a21e8a2",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 28",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_1/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message) {\n        msg.payload =  `${inner.command_id}. ${inner.command_type}: ${inner.message}`;\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 960,
        "wires": [
            [
                "9ccda3deebf1db8a"
            ]
        ]
    },
    {
        "id": "9ccda3deebf1db8a",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "3ddafb9595fdef69",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Command",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 710,
        "y": 960,
        "wires": []
    },
    {
        "id": "8feb26b3c06bc4f7",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "8b70d8ac3b19281c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Command",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c28d42615cbd9a26",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 29",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_1/drone_2/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message) {\n        msg.payload =  `${inner.command_id}. ${inner.command_type}: ${inner.message}`;\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1300,
        "wires": [
            [
                "8feb26b3c06bc4f7"
            ]
        ]
    },
    {
        "id": "b16484bc972cb84b",
        "type": "function",
        "z": "69012418ada3eb2c",
        "name": "function 30",
        "func": "// Takeoff script\nif (msg.topic == 'farms/farm_2/drone_3/feedback') {\n    const inner = JSON.parse(msg.payload.message);\n    \n    if (inner.message) {\n        msg.payload =  `${inner.command_id}. ${inner.command_type}: ${inner.message}`;\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1040,
        "wires": [
            [
                "a14b28615829085f"
            ]
        ]
    },
    {
        "id": "a14b28615829085f",
        "type": "ui-text",
        "z": "69012418ada3eb2c",
        "group": "2572bd3ed255fb19",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Command",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5412220d3b4e7a3f",
        "type": "mqtt in",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_1/warning",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "9c930c6cfeeeacb2",
                "5578d95fb680b452"
            ]
        ]
    },
    {
        "id": "1b6752be881f1c46",
        "type": "mqtt in",
        "z": "69012418ada3eb2c",
        "name": "",
        "topic": "farms/farm_2/warning",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9add7d565e246e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 880,
        "wires": [
            [
                "63e079b56f64d491"
            ]
        ]
    },
    {
        "id": "244b594a533b3d05",
        "type": "ui-group",
        "name": "Input",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c9add7d565e246e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1c65d3e46af733a",
        "type": "ui-group",
        "name": "Input",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3ddafb9595fdef69",
        "type": "ui-group",
        "name": "Response",
        "page": "d776ec1af93d5c84",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8b70d8ac3b19281c",
        "type": "ui-group",
        "name": "Response",
        "page": "04881b1716ea0637",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2572bd3ed255fb19",
        "type": "ui-group",
        "name": "response",
        "page": "1130383f28310244",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "19114ec8024a98a6",
        "type": "ui-group",
        "name": "Input",
        "page": "1130383f28310244",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ac3c8e0eaa34d939",
        "type": "ui_group",
        "name": "Drone 1",
        "tab": "184e97a04245471e",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f37c055689e6c60",
        "type": "ui_group",
        "name": "Drone 2",
        "tab": "4b855d27fb3e1da2",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6df07ec32a06aad6",
        "type": "ui_group",
        "name": "Drone 3",
        "tab": "284a1505dfd36399",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d776ec1af93d5c84",
        "type": "ui-page",
        "name": "Farm 1 Dron 1",
        "ui": "debfeef4d9f08595",
        "path": "/farm1/dron1",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "04881b1716ea0637",
        "type": "ui-page",
        "name": "Farm 1 Dron 2",
        "ui": "debfeef4d9f08595",
        "path": "/farm1/dron2",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1130383f28310244",
        "type": "ui-page",
        "name": "Farm 2 Drone 3",
        "ui": "debfeef4d9f08595",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "bebf3513799e0627",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "184e97a04245471e",
        "type": "ui_tab",
        "name": "Drone 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4b855d27fb3e1da2",
        "type": "ui_tab",
        "name": "Drone 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "284a1505dfd36399",
        "type": "ui_tab",
        "name": "Drone 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "debfeef4d9f08595",
        "type": "ui-base",
        "name": "ui",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "bebf3513799e0627",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a7334935df2905ad",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-aedes": "0.15.0",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-web-worldmap": "5.5.4"
        }
    }
]